name: UpDeps

on:
  push:
    branches:
      - main
      - trying
      - staging
    tags: '*'
  pull_request:

jobs:
  update_deps:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.4.0
      with:
        access_token: ${{ github.token }}

    - uses: actions/checkout@v2.2.0

    - uses: julia-actions/setup-julia@latest
      with:
        version: 1.7.3

    - name: Apply UpDeps
      run: |
        julia --project .dev/up_deps.jl .

    - name: Check Manifest diff
      run: |
        git diff --color=always --exit-code
